img{
    max-width: 100%;
    border-radius: 6px;
}

div {
    width: calc(33% - 30px);
    float: left;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    margin: 15px;
    background-color: bisque;
    box-shadow: 1px 1px 10px blanchedalmond;
    border-radius: 6px;
}
a{
    color: grey;
}
a:hover{
    color: darkblue;
}

div:hover{
    transition: all 300ms;
    transform: scale(1.1);
    background-color: lightpink;
}

h2{
    color: brown;
}
p{
    color: chocolate;
}